cite, footnote {
    display: none;
}

.reveal .on-slide-number {
    vertical-align: middle;
}

.reveal .slides .othercite {
    font-size:8pt;color:gray;text-align:right;width:100%;
}

#footer {
    font-size : 16pt;
    color: gray;
    padding: 5px;
    text-align:right;
    width: 98%;
}

b {
    color: red;
}

.reveal table td {
    border-bottom: 0px;
}

body { background-color: #000; }
/* .reveal .slides */
.reveal .slides {
  background-color: #fff; 
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -ms-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  overflow: hidden;
}

.reveal section img {
    border: none;
    box-shadow: 0 0;
}
.reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}

.reveal {
    font-size: 26px;
}

.reveal h2 {
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -2px;
  color: #515151; }

.reveal h3 {
  font-size: 38px;
  letter-spacing: -1px;
  line-height: 2;
  font-weight: inherit;
  color: #515151; }

.reveal h4 {
  font-size: 30px;
  line-height: 1;
  font-weight: inherit;
  color: #515151; }

.reveal .left {
    text-align: left;
}

ul {
  margin-left: 1.2em;
  margin-bottom: 1em;
  position: relative; }
  ul li {
    margin-bottom: 0.5em; }
    ul li ul {
      margin-left: 2em;
      margin-bottom: 0; }
      ul li ul li:before {
        content: '-';
        font-weight: 600; }
  ul.dotted > li:before {
    content: '\00B7';
    margin-left: -1em;
    position: absolute;
    font-weight: 600; }
  ul ul {
    margin-top: .5em; }

.reval ol, .reveal ul {
  list-style: none; }

.reval ol li ol , .reveal ul li ul {
  list-style: none; }

.reveal section .flex-container {
    display: flex;
    justify-content: space-between;
}


.reveal .slides section .fragment.highlight-current-border-red {
    opacity: 1;
    visibility: inherit; }

.reveal .slides section .fragment.highlight-current-border-red.current-fragment {
    color: #ff2c2d;
    border-bottom: 2pt solid #ff2c2d;
}


.reveal .slides section .fragment.highlight-border-red {
    opacity: 1;
    visibility: inherit; }

.reveal .slides section .fragment.highlight-border-red.visible {
    color: #ff2c2d;
    border-bottom: 2pt solid #ff2c2d;
}


.fragment#highlight-border-red-1,
.fragment#highlight-border-red-2,
.fragment#highlight-border-red-3,
.fragment#highlight-border-red-4,
.fragment#highlight-border-red-5,
.fragment#highlight-border-red-6 {
    opacity: 1;
    visibility: inherit;
}

    .fragment.visible#highlight-border-red-1,
    .fragment.visible#highlight-border-red-2,
    .fragment.visible#highlight-border-red-3,
    .fragment.visible#highlight-border-red-4,
    .fragment.visible#highlight-border-red-5,
    .fragment.visible#highlight-border-red-6 {
        color: #ff2c2d;
        border-bottom: 2pt solid #ff2c2d;
    }


.fragment#highlight-current-red-1,
.fragment#highlight-current-red-2,
.fragment#highlight-current-red-3,
.fragment#highlight-current-red-4,
.fragment#highlight-current-red-5,
.fragment#highlight-current-red-6 {
    opacity: 1;
    visibility: inherit;
}

    .fragment.current-fragment#highlight-current-red-1,
    .fragment.current-fragment#highlight-current-red-2,
    .fragment.current-fragment#highlight-current-red-3,
    .fragment.current-fragment#highlight-current-red-4,
    .fragment.current-fragment#highlight-current-red-5,
    .fragment.current-fragment#highlight-current-red-6 {
        color: #ff2c2d;
    }

.table_2x2 .row {
    width:100%;
    height:275px;
}
.table_2x2 .column {
    display:inline-block;
    width:45%;
    height:100%;
    vertical-align: top;
}

.table_2x2 .column img {
    height:80%;
    top:0;
    margin-bottom:0;
}

.reveal section .fragment.display {
    display: none;
}
    .reveal section .fragment.display.visible {
        display : inherit;
    }

.reveal section .fragment.nodisplay {
    display: inherit;
    opacity: 1;
    visibility: inherit;
}
    .reveal section .fragment.nodisplay.visible.current-fragment {
        display: inherit;
        opacity: 1;
        visibility: inherit;
    }

    .reveal section .fragment.nodisplay.visible {
        display : none;
    }

.reveal section .fragment.current-display {
    display: none;
}
    .reveal section .fragment.visible.current-display {
        display: none;
    }
    .reveal section .fragment.current-display.visible.current-fragment {
        display : inherit;
    }

.reveal section .fragment.current-border {
    border: 4px solid rgba(255, 255, 255, 0);
}
    .reveal section .fragment.visible.current-border {
        border: 4px solid rgba(255, 255, 255, 0);
    }
    .reveal section .fragment.current-border.visible.current-fragment {
        border: 4px solid red;
    }

.reveal section .fragment.nofade {
    opacity: 1.0;
    visibility: inherit;
}
    .reveal section .fragment.visible.nofade {
        opacity: 1.0;
        visibility: inherit;
    }
    .reveal section .fragment.nofade.visible.current-fragment {
        opacity: 1.0;
        visibility: inherit;
    }

.reveal #footer-lower img {
    margin: 0 0;
}

table tr.img-row td {
    vertical-align: middle;
    text-align: center;
}
table tr.img-row td img {
    display: inline-block;
}

table tr.img-row td video {
    display: inline-block;
}
.reveal video {
    margin: 20px 0;
}
